/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets"; 
@import "bootstrap";

/* latin-ext */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Josefin Sans'), local('JosefinSans'), url(http://fonts.gstatic.com/s/josefinsans/v9/xgzbb53t8j-Mo-vYa23n5j0LW-43aMEzIO6XUTLjad8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Josefin Sans'), local('JosefinSans'), url(http://fonts.gstatic.com/s/josefinsans/v9/xgzbb53t8j-Mo-vYa23n5ugdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
    font-family: 'Josefin Sans','Raleway', sans-serif;
    font-weight: 100;
    color: white;
    font-size: 10;
    /*
  background: -webkit-linear-gradient(90deg, #2c3e50 10%, #3498db 90%); /* Chrome 10+, Saf5.1+ */
  /*background:    -moz-linear-gradient(90deg, #2c3e50 10%, #3498db 90%); /* FF3.6+ */
  /*background:     -ms-linear-gradient(90deg, #2c3e50 10%, #3498db 90%); /* IE10 */
  /*background:      -o-linear-gradient(90deg, #2c3e50 10%, #3498db 90%); /* Opera 11.10+ */
  /*background:         linear-gradient(90deg, #2c3e50 10%, #3498db 90%); /* W3C */
  background: #30372b;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
    font-weight: 100;
}

h1 {font-size: 2em;}

.container {width: 90%;
        border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 2px inset #a196a1;

}

.wrapper {
    width: 90%;
    margin: 0 auto;
        border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 2px inset #a196a1;
padding: 2rem;
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/* Main header and navigation bar */
header {
    width: 100%;
    padding: 2rem 0;
/*    border-bottom: 1px solid #E4E4E4;
    background-color: #3783A7;*/
    color: white;
    #logo {
        float: left;
        font-size: 2rem;
        a {
            color: white;
            text-decoration: none;
            &:hover {
                color: black;
            }
        }
    }
    nav {
        float: right;
        font-size: 1.2rem;
        a {
            margin-left: 1.5rem;
            line-height: 2;
            color: white;
            text-decoration: none;
            &:hover {
                color: black;
            }
        }
    }
}

/* Links */
a {
    color: white;
    text-decoration: none;
    &:hover {
        color: black;
    }
}

#right {
  align: right;
}

/* All input fields */
form input {
    color: black;
            border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 2px inset #a196a1;
}

/* All Drop down fields */
form select {
    color: black;
    font-size: 1em;
}

/* Submit buttons */
form input[type='submit'] {
    margin-top: 10px;
    border: 1px solid #9B9B9B;
    padding: .5rem 1.5rem;
    border-radius: .3rem;
    outline: none;
    background: #3783A7;
    color: white;
    text-decoration: none;
        &:hover {
        color: black;
        }
}

/* New line submit button */
#button {
    border: 1px solid #9B9B9B;
    padding: .5rem 1.25rem;
    border-radius: .3rem;
    outline: none;
    background: #3783A7;
    color: white;
    text-decoration: none;
        &:hover {
        color: black;
        }    
}

/* Changes the input blocks for codes (location, item) */
form input[type='text'] {
    margin-bottom: 20px;
    color: black;
}

/* Changes the input blocks for document code */
[id*="document_code"]  {
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
    color: black;
}

/* Changes the input block for item description */
textarea {
    width: 1000px;
    height: 26px;
    color: black;
}

/* Changes the input blocks for document comment */
[id*="document_comment"] {
    margin-top: 10px;
    margin-left: 10px;
    width: 1000px;
    height: 26px;
    color: black;
}

/* Document lines blocks (all) */
[id*="document_lines_attributes_"] {
    font-size: 1em;
    width: 450px;
    color: black;
}

/* Changes the input blocks for Quantity New */
form input[placeholder='Quantity New'] {
    font-size: 1em;
    width: 112px;
    color: black;
}

/* Changes the input blocks for Quantity Used */
form input[placeholder='Quantity Used'] {
    font-size: 1em;
    width: 112px;
    color: black;
}

/* Date dropdown block left */
[id*="document_docdate_1i"] {
    margin-left: 10px;
}

/* Date dropdown block right */
[id*="document_docdate_3i"] {
    margin-right: 40px;
}

/* Location drop down box */
[id*="document_location_id"] {
    margin-left: 10px;
}