/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets"; 
@import "bootstrap";

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    color: white;
  background: -webkit-linear-gradient(90deg, #2c3e50 10%, #3498db 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #2c3e50 10%, #3498db 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #2c3e50 10%, #3498db 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #2c3e50 10%, #3498db 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #2c3e50 10%, #3498db 90%); /* W3C */
}

h1, h2, h3, h4, h5, h6 {
    color: white;
    font-weight: 100;
}

h1 {font-size: 2em;}

.container {width: 90%;}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/* Main header and navigation bar */
header {
    width: 100%;
    padding: 2rem 0;
    border-bottom: 1px solid #E4E4E4;
    background-color: #3783A7;
    color: white;
    #logo {
        float: left;
        font-size: 3rem;
        a {
            color: white;
            text-decoration: none;
            &:hover {
                color: black;
            }
        }
    }
    nav {
        float: right;
        font-size: 1.2rem;
        a {
            margin-left: 1.5rem;
            line-height: 2;
            color: white;
            text-decoration: none;
            &:hover {
                color: black;
            }
        }
    }
}

/* Links */
a {
    color: white;
    text-decoration: none;
    &:hover {
        color: black;
    }
}

#right {
  align: right;
}

/* All input fields */
form input {
    color: black;
}

/* All Drop down fields */
form select {
    color: black;
    font-size: 17px;
}

/* Submit buttons */
form input[type='submit'] {
    margin-top: 10px;
    border: 1px solid #9B9B9B;
    padding: .5rem 1.5rem;
    border-radius: .3rem;
    outline: none;
    background: #3783A7;
    color: white;
    text-decoration: none;
        &:hover {
        color: black;
        }
}

/* New line submit button */
#button {
    border: 1px solid #9B9B9B;
    padding: .5rem 1.25rem;
    border-radius: .3rem;
    outline: none;
    background: #3783A7;
    color: white;
    text-decoration: none;
        &:hover {
        color: black;
        }    
}

/* Changes the input blocks for codes (location, item) */
form input[type='text'] {
    margin-bottom: 20px;
    color: black;
}

/* Changes the input blocks for document code */
[id*="document_code"]  {
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
    color: black;
}

/* Changes the input block for item description */
textarea {
    width: 1000px;
    height: 26px;
    color: black;
}

/* Changes the input blocks for document comment */
[id*="document_comment"] {
    margin-top: 10px;
    margin-left: 10px;
    width: 1000px;
    height: 26px;
    color: black;
}

/* Document lines blocks (all) */
[id*="document_lines_attributes_"] {
    font-size: 17px;
    width: 450px;
    color: black;
}

/* Changes the input blocks for Quantity New */
form input[placeholder='Quantity New'] {
    font-size: 17px;
    width: 112px;
    color: black;
}

/* Changes the input blocks for Quantity Used */
form input[placeholder='Quantity Used'] {
    font-size: 17px;
    width: 112px;
    color: black;
}

/* Date dropdown block left */
[id*="document_docdate_1i"] {
    margin-left: 10px;
}

/* Date dropdown block right */
[id*="document_docdate_3i"] {
    margin-right: 40px;
}

/* Location drop down box */
[id*="document_location_id"] {
    margin-left: 10px;
}